/* =========================
  Variables
============================ */

// Colors
$white: #fff;
// $colors: ('default', 'error', 'info', 'success', 'warning');
// $button--colors: ('$button--default', '$button--error', '$button--info', '$button--success', '$button--warning');

// Buttons
$button--default: #51ddfc;
$button--error: #e4757a;
$button--info: #927bc1;
$button--success: #63cc82;
$button--warning: #fd7856;
$button--lighten: 15%;

// Breakpoints
$break-s: 576px;
$break-m: 768px;
$break-l: 992px;
$break-xl: 1200px;
$break-xxl: 1400px;

// Max-width
$max-w: 1400px;
