/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
  margin-top: 15px;
  width: 100%;
  color: $white;
  border: none;
  padding: 10px 0;
  text-transform: uppercase;
  border-radius: 5px;
}

@each $class--name, $button--color in $button--colors {
  .#{$class--name} {
    background-color: $button--color;
    &:hover {
      background-color: lighten($color: $button--color, $amount: $button--lighten);
      transition-duration: 1s;
    }
  }
}
